In [ ]:
import predictStock
import postTweet
from datetime import datetime, date, timedelta

pred = predictStock.predictStock()

if pred > 0:
    pred = "当たり！"
else:
    pred = "ハズレ・・・"

    
db = pd.read_csv("dataBase.csv",encoding="utf8")
tweet = "前の日の予想は「" + pred + "」です。" + "正答率は「" + hitRate + "」です。" + "利益は「" + sumValue +"」です。"

#dataCount,predictDate,predict,hit,hitRate,differenceValue,sumValue,updateDate
#ツイートメソッド呼び出し
tweetResult = postTweet.postTweet(tweet)

In [69]:
db = pd.read_csv("dataBase.csv",encoding="utf8",index_col='predictDate')

In [70]:
db

,predict,hit,hitRate,differenceValue,sumValue,updateDate
predictDate,,,,,,
2019-04-14,1,1.0,100.0,80.0,80.0,2019-04-13 23:29
2019-04-15,-1,1.0,100.0,-130.0,210.0,2019-04-14 23:29
2019-04-16,1,NaN,NaN,NaN,NaN,2019-04-15 23:29

In [83]:
db.loc["2019-04-16","hit":"sumValue"]

hit                NaN
hitRate            NaN
differenceValue    NaN
sumValue           NaN
Name: 2019-04-16, dtype: object

In [76]:
db

,predict,hit,hitRate,differenceValue,sumValue,updateDate
predictDate,,,,,,
2019-04-14,1,1.0,100.0,80.0,80.0,2019-04-13 23:29
2019-04-15,-1,1.0,100.0,-130.0,210.0,2019-04-14 23:29
2019-04-16,1,NaN,NaN,NaN,NaN,2019-04-15 23:29

In [28]:
import resultStock
df_1321 = resultStock.resultStock()

Get data from 2019-04-16 to 2019-04-16

C:\Users\shuns\Anaconda3\lib\site-packages\jsm\util.py:12: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 12 of the file C:\Users\shuns\Anaconda3\lib\site-packages\jsm\util.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(html)

In [53]:
close = df_1321.loc["2019-04-16","Close"]
open = df_1321.loc["2019-04-16","Open"]
differenceValue = close - open

In [54]:
differenceValue

70

In [55]:
thisDay_predict = db.loc["2019-04-16", 'predict']

In [56]:
thisDay_predict

1

In [58]:
np.sign(differenceValue * thisDay_predict) == 1 or (differenceValue==0 and thisDay_predict==1)

True

In [66]:
hit_count = sum(list(db["hit"].fillna(0)))

In [67]:
hitRate = 100*(1 + hit_count)/len(db.index)

In [68]:
hitRate

100.0

In [44]:
sumValue = db.loc["2019-04-16","sumValue"]

In [45]:
sumValue

nan